


    <div class="ae-grid">
      <div class="ae-grid__item item-lg-6 item-lg--offset-7">
        <h4 class="ae-u-bolder au-mb-3 conatct__title">Contáctenos </h4>
        <p class="au-mb-4 contact__desc">Escribenos usando el <a href="#contact-form">formulario de contacto </a>a continuacion! <br>Estamos listo para ayudar.</p>
      </div>
    </div>
    <div class="ae-grid">
      <div class="ae-grid__item item-lg-6">
        <div id="map-container">
          <div id="map">
            <app-maps></app-maps>
          </div>
          
        </div>
      </div>
      
      <div class="ae-grid__item item-lg-6">
        <div class="ae-grid ae-grid--collapse">
          <div class="ae-grid__item item-lg-2 au-v-hidden au-lg-v-visible">
            <button id="map-arrow" class="arrow-button arrow-button--nospace arrow-button--center arrow-button--flip">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg>
            </button>
          </div>
          <div class="ae-grid__item item-lg-10 au-xs-ta-center au-lg-ta-left">
            <p class="au-mb-4 contact__addr">Barrio 56 Viviendas<br>Apostoles, Misiones<br>Argentina</p>
            <p> <span class="contact__phone"> <span class="rk-light-color">Telefono  </span> (3758) 487878</span><br><span class="contact__email au-block au-truncate"> <span class="rk-light-color">Email &nbsp;&nbsp; </span><a href="#0">rosita@pequeñosdetalle.com</a></span></p>
          </div>
          <div class="contact_spacer au-none au-lg-block"></div>
        </div>
        <div class="ae-grid ae-grid--collapse">
          <div class="ae-grid__item item-lg-12 au-mt-1">
            <!--Componente Formulario de contacto-->
           <form-contact></form-contact>

          </div>
        </div>
      </div>
    </div>

   
  